.driver-popover {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.driver-popover-arrow {
  margin: 2px;
  border-width: 10px;
}

.driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #1976d2;
}

.driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #1976d2;
}

.driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #1976d2;
}

.driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #1976d2;
}

.driver-popover-title {
  font-size: 1.5rem;
}

.driver-popover-description {
  font-size: 1.2rem;
}

.driver-popover-footer {
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

.driver-popover-progress-text {
  color: #1976d2;
}

.driver-popover-prev-btn {
  font-size: 5rem;
}
.driver-popover-next-btn {
  font-size: 5rem;
}

/*inutile a voir si on peut le faire fonctionner*/
.driver-popover.driverjs-theme button:hover {
  background-color: #1976d2;
  color: #ffffff;
}
